<html>
	<head>
		<meta charset="UTF-8">
		<title> Form to jira </title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	 
	</head>

	<body>
		<!-- header -->
		<header id="site-header">
	        <div class="navbar navbar-inverse">
	            <div class="container">
	                <div class="navbar-header">
	                    <a href="/" class="navbar-brand">San Service APM</a>
	                </div>
	            </div>
	        </div>
	    </header>
		<!-- main section -->
		<main id="site-main">
		    <div class="container">
		        <%- body %>
		    </div>
	    </main>
		<!-- footer -->
		 <footer id="site-footer">
	        Copyright &copy; 2016 APM
	    </footer>

	</body>
</html>